<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<title>Gala Website</title>
	<!-- Place stylesheet here -->


	</head>
	<body>
		<!-- Navbar here -->
		{% if user.is_authenticated %}
		{% include 'homepage/navbar.html' %}
		{% endif %}

		<h2>Gala Website</h2>

		{% if user.is_authenticated %}
		<p>You are signed in as {{ user }}</p>
		{% else %}
		<form action="" method="POST">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Sign in" />
		</form>
		<p>Don't have an account? <br />
		<a href="{% url 'accounts:planner_signup_form' %}">Sign up here!</a><p>
		{% endif %}
	</body>

	<!-- Place js file here -->

</html>