{% extends 'tablesetter/table_index.html' %}

{% block table_content %}

{% if sponsor %}
<h3>The following user was found:</h3>
<p>Email: {{ email }}<br />
Name: {{ sponsor.first_name }} {{ sponsor.last_name }}</p>

<h4>Is this information correct?</h4>
<p>If so, please click the following button and set your details!</p>

<h4>If it is incorrect, please enter another email</h4>

{% elif creation_form %}
<h4>An account under {{ email }} has not yet been created!</h4>
<p>Please use the following form to create an account for this user.</p>

(action to send email)

{% else %}
<h4>Please enter the sponsor's email</h4>
{% endif %}
<form action="{% url 'tablesetter:check_user' gala.id %}" method="POST">{% csrf_token %}
	{{ form.email }}<br/>
	<input type="submit" value="Submit" />
</form>


{% endblock %}