{% extends 'tablesetter/table_index.html' %}

{% block table_content %}

{% if sponsor %}

<h4>A table was created for {{ sponsor.first_name }} {{ sponsor.last_name }}</h4>

{% elif invitation_pending %}

<h4>A table was created under the e-mail {{ email }}</h4>
<p>An invitation is still pending for this user.</p>
<p>the url is {{ url }}</p>

{% else %}

<h3>Invitation sent to {{ email }}</h3>
url to get there: {{ url }}

{% endif %}

<p><a href="{% url 'tablesetter:all_tables' gala.id %}">Click here to go back to your gala details</a></p>

{% endblock %}