{% extends 'tablesetter/table_index.html' %}

{% block table_content %}

<h3>{{ message }}</h3>
{% if sponsor %}
Name: {{ sponsor.first_name }} {{ sponsor.last_name }}<br/>
Email: {{ sponsor.email }}<br/>
{% endif %}

<form action="{% url 'tablesetter:set_table_size' gala.id %}" method="POST">{% csrf_token %}
	{% if email %}Email: {{ email }}<br/>{% endif %}
	{{ table_form.as_p }}
	<input type="submit" value="Set Table Size and Send Invitation" />
</form>

<p><a href="{% url 'tablesetter:check_user' gala.id %}">Click here to start over</a></p>

{% endblock %}