<table>
	<tr>
		<td><a href="{% url 'tablesetter:all_tables' gala.id %}">All Tables</a></td>
		<td><a href="">Complete</a></td>
		<td><a href="">Incomplete</a></td>
		<td><a href="">With Empty Seats</a></td>
		<td><a href="">With Donated Seats</a></td>
		<td><a href="">With Pending Invitations</a></td>
		<td><a href="">Search by Sponsor Name</a></td>
	</tr>
</table>

<!--
all tables
completed tables
incomplete tables
tables with empty seats
tables with pending invitations
table by sponsor name
-->